@model IEnumerable<BookPublisher.Web.Models.BookViewModel>

@{
    ViewData["Title"] = "Lista de Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Livros</h1>

<p>
    <a asp-action="Insert" class="btn btn-sm btn-primary">Novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Título")
            </th>
            <th>
                @Html.DisplayName("Ano de Lançamento")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.ActionLink("Editar", "Update", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
